@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link-animation {
    @apply w-0 absolute h-[1px] bg-accent -bottom-1 group-hover:w-full duration-200 ease-in-out transition-all;
}
.badge {
    @apply bg-red-500 text-white text-xs px-2 py-1 rounded ml-2;
}

.carousel-btn {
    @apply uppercase px-4 py-2 md:px-6 md:py-3 font-semibold text-xs border duration-200 ease-in-out transition-all;
}

.custom-scrollbar::-webkit-scrollbar {
    height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
